@media only screen and (min-width: 600px) {
    .container {
        width: 512px;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    cursor: pointer;
}

.dark {
    background-color: #444444;
}

.info {
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid orange;
}

.center-text {
    text-align: center;
}

.font-h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: ghostwhite;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    text-shadow: 0 0 4px gray;
    line-height: 75%;
}

.font-element {
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: 700;
}

.font-label {
    letter-spacing: -0.5px;
    word-spacing: 0px;
    font-weight: bold;
    font-size: 0.95em;
    color: lightslategray;
    line-height: 75%;
}

hr {
    border-top: 1px solid lightslategray;
    box-shadow: 0 0 2px lightslategray;
}